

<%= image_tag("code3.png", {:style=> "height: 100%; width: 100%;top: 0%;left:0%;"}) %>

 <h1 style="left: 14%; top: 36%;font-size: 700%;font-weight:500;font-family: 'Julius Sans One', sans-serif;"> N E X T</h1>
 <h1 style="left: 14.8%; top: 34%;font-size: 185%;font-weight: 350; ">H &nbsp;&nbsp;E&nbsp;&nbsp; L&nbsp;&nbsp; L&nbsp;&nbsp; O&nbsp;&nbsp;&nbsp;&nbsp; W&nbsp;&nbsp; O&nbsp;&nbsp; R&nbsp;&nbsp; L&nbsp;&nbsp;  D</h1>
 <h1 style=" left: 14%; top: 48%;font-size: 270%;font-weight: 300; ">고려대학교 경영대학 소프트웨어 벤처 네트워크</h1>
 <h1 style=" left: 18%; top: 58%;font-size: 170%;font-weight: 300;line-height: 150%; ">우리는 창의적인 아이디어와<br> 기술의 융합을 통해 세상을 바꿀 수 있다고 믿습니다.</h1>


 <div style="padding:0.5%;border-radius: 3px; 1%;width:40%;top: 72%;left:49%;display:flex;flex-direction: row;justify-content: flex-start;align-items:center;">
  <a href="/users/sign_up" style="position:relative; font-size: 150%;display:block;height: 50%;font-weight: 300;">함께 하러 가기</a>
 <%= image_tag("화살표.svg", {:style=> "height:7%;width:7%;position:relative;margin-bottom:-1.5% ;"}) %>

 </div>

 <a style="  left: 3%; top:90%;font-size: 120%;font-weight:300">KU UNIVERSITY  </a>
 <a style="  left: 3%; top:93%;font-size: 120%;font-weight:300">TEAM NAME : KU SEUNG AE  </a>
 <a href="/" style="  left: 6%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;">MAIN </a>
 <a href="/home/about" style="color: black; left: 11%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;">ABOUT </a>
 <a href="/home/recruit" style="  left: 17%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;">RECRUITS </a>
 <a href="/home/members" style="  left: 24.5%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;">MEMBERS </a>
 <a href="/boards" style="  left: 32%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;">LOUNGE </a>
<a  href="/users/sign_in"  style=" left: 93%; top:3%;font-size: 160%;font-weight:400; font-family: 'Rajdhani', sans-serif;text-decoration:none !important;">LOGIN </a>
 <div style='height:0%;width: 11%;border:1px solid black;top: 41%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-seri;'>
 <div>hyejoo</div>
