

 
<div style="width:100%;height:15%;position:fixed;display:flex;flex-direction: row;justify-content: center">

    <div style="position:relative;display:flex;flex-direction: row;justify-content: space-between;align-items:center;width: 30%;height:100%;">
    <a href="/" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MAIN </a>
    <a href="/home/about" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">ABOUT </a>
    <a href="/home/recruit" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">RECRUITS </a>
    <a href="/home/members" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MEMBERS </a>
    <a href="/boards" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">LOUNGE </a>
    </div>
</div>
 
 <a   href="/users/sign_in"  STYLE="left: 93%;top:3%;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">LOGIN </a>
  <a href="/"STYLE="left: 3%;top:3%;FONT-size: 200%;font-family: 'Rajdhani', sans-serif;font-weight:400">NEXT </a>

<%= image_tag("code1.png", {:style=> "height: auto; width: 55%;top: 23%;left:40%;"}) %>

<h1 style="color: black; left: 10%; top: 30%;font-size: 600%;font-weight:300;font-family: 'Rajdhani', sans-serif;"> R E C R U I T</h1>
<h1 style="color: BLACK; left: 23%; top: 39%;font-size: 550%;font-weight:300;font-family: 'Rajdhani', sans-serif;">M E M B E R S</h1>
<%# <h1 style="width:40%;color: GREY; left: 79%; top: 38%;font-size: 300%;font-weight: 200; font-family: 'Nanum Barun Gothic', sans-serif;transform: rotate(-90deg); ">W E L C O M E&nbsp;&nbsp; A B O A R D</h1> %>
<h1 style="color: BLACK; left: 65.5%; top: 16.5%;font-size: 170%;font-weight: 300;">S &nbsp;&nbsp;&nbsp;&nbsp;E &nbsp;&nbsp; &nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp; S&nbsp;&nbsp;&nbsp;&nbsp; O&nbsp;&nbsp;&nbsp;&nbsp; N&nbsp;&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp; 9 </h1>
<h1 style="left: 10.5%; top: 27%;font-size: 240%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-serif;">W E L C O M E&nbsp;&nbsp; A B O A R D </h1>
<h1 style="left: 15%; top: 55%;font-size: 150%;font-weight:300; font-family: 'Nanum Barun Gothic', sans-serif;">일시 : 2019년 03월 05일~ 03월 20일</h1>
<h1 style="left: 15%; top: 59%;font-size: 150%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-serif;">오리엔테이션 : 2019년 03월 10일</h1>
<h1 style="left: 15%; top: 63%;font-size: 150%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-serif;">면접 : 2019년 3월 21일 및 22일</h1>
<h1 style="left: 15%; top: 67%;font-size: 150%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-serif;">누구든지 온다면 환영입니다.</h1>
<h1 style="left: 15%; top: 71%;font-size: 150%;font-weight: 300; font-family: 'Nanum Barun Gothic', sans-serif;">면접 준비물 : 건강한 육체</h1>

 <a style="color: black; left: 3%; top:90%;font-size: 120%;font-weight:300">KU UNIVERSITY  </a>
 <a style="color: black; left: 3%; top:93%;font-size: 120%;font-weight:300">TEAM NAME : KU SEUNG AE  </a>
  <div style='height:0%;width: 8%;border:1px solid black;top: 34.5%;'>
  <%# <a style="color: black; left: 90%; top:93%;font-size: 120%;font-weight:300">KU UNIVERSITY  </a>
  <a style="color: black; left: 75%; top:93%;font-size: 120%;font-weight:300">KU UNIVERSITY  </a>
   <a style="color: black; left: 60%; top:93%;font-size: 120%;font-weight:300">KU UNIVERSITY  </a> %>
   <%# <img src="/assets/code1.png" style="height: auto; width: 55%;top: 20%;left:22%;"/>
<h1 style="color: black; left: 12%; top: 30%;font-size: 600%;font-weight:900"> R E C R U I T</h1>
<h1 style="color: BLACK; left: 65%; top: 77%;font-size: 400%;font-weight: 900;">L I K E L I O N</h1>
<h1 style="color: BLACK; left: 57.5%; top: 15%;font-size: 230%;font-weight: 300;">H &nbsp;&nbsp;E&nbsp;&nbsp; L&nbsp;&nbsp; L&nbsp;&nbsp; O&nbsp;&nbsp;&nbsp;&nbsp; W&nbsp;&nbsp; O&nbsp;&nbsp; R&nbsp;&nbsp; L&nbsp;&nbsp;  D</h1>
<h1 style="color: BLACK; left: 86%; top: 3%;font-size: 200%;font-weight: 300;">L I K E L  I O N</h1>
<a style="color: black; left: 3%; top:3%;font-size: 200%;font-weight:300">NEXT  </a>
<a style="color: black; left: 93%; top:75%;font-size: 130%;font-weight:300;transform: rotate(-90deg);">MAIN </a>
<a style="color: black; left: 93%; top:17%;font-size: 130%;font-weight:300;transform: rotate(-90deg); ">ABOUT </a>
<a style="color: black; left: 60%; top:93%;font-size: 130%;font-weight:300">MEMBERS </a>
<a style="color: black; left: 35%; top:93%;font-size: 130%;font-weight:300">RECRUIT </a>
<a style="color: black; left: 3%; top:17%;font-size: 130%;font-weight:300; transform: rotate(-90deg);">LOUNGE </a>

<h1 style="color: black; left: 3%; top: 75%;font-size: 130%;font-weight:300; transform: rotate(-90deg); ">KU UNIVERSITY</h1> %>

 
  