<%= image_tag("광장3.png", {:style=> " position:absolute;width:100%;height:100%;-webkit-filter: brightness(1);opacity:0.15;"}) %>

<div style="width:100%;height:15%;position:fixed;display:flex;flex-direction: row;justify-content: center">

    <div style="position:relative;display:flex;flex-direction: row;justify-content: space-between;align-items:center;width: 30%;height:100%;">
    <a href="/" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MAIN </a>
    <a href="/home/about" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">ABOUT </a>
    <a href="/home/recruit" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">RECRUITS </a>
    <a href="/home/members" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MEMBERS </a>
    <a  href="/boards" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">LOUNGE </a>
    </div>
</div>
 
 <a  href="/users/sign_in" STYLE="left: 93%;top:3%;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">LOGIN </a>
<a href="/"STYLE="left: 3%;top:3%;FONT-size: 200%;font-family: 'Rajdhani', sans-serif;font-weight:400">NEXT </a>



<h1 style="position:fixed;left: 47%; top: 16%;">글쓰기</h1>

<%= render 'form', board: @board %>


